.selector-for-some-widget {
    box-sizing: content-box;
  }

body .container-fluid {
  padding: 1rem ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-image: linear-gradient(#74ebd5, #ACB6E5);
  height: 100vh;
}

.container-fluid .add-empresa-btn{
  display: flex;
  gap: 1rem;
}

#map { 
margin-top: 3rem;
height: 80vh;
width:80vw; }

.delete-empresa-btn{
  position: fixed;
  top: -2rem;
  left: -2rem;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 1rem;
  width: 2rem;
  height: 2rem;
  font-size: 5px;
  size: 5px;
}

.edit-empresa-btn{
  position: fixed;
  top: 2rem;
  left: -2rem;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  margin: 1rem;
  width: 2rem;
  height: 2rem;
  font-size: 5px;
  size: 5px;
}